.app {
  text-align: center;
  background-color: #282c34;
  color: white;
}

.app-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .app-logo {
    animation: app-logo-spin infinite 20s linear;
  }
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  min-width: 100px;
  padding: 10px;
}

.app-link {
  color: #61dafb;
}

@keyframes app-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.scrape-button {
  margin: 5px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid goldenrod;
  background-color: goldenrod;
  color: black;
  cursor: pointer;
}
